@import "../colour";

table {
    margin: auto;
}

table, td {
    border-collapse: collapse;
}

.solved {
    -moz-box-shadow: 0 0 .3em $blue;
    -webkit-box-shadow: 0 0 .3em $blue;
    box-shadow: 0 0 .3em $blue;
}

.tile {
    height: 2em;
    width: 2em;

    text-align: center;

    border: black solid thin;
}

.tile.defined {
    font-weight: bold;
}

.tile.selected {
    background-color: $light-blue;
}

.tile.error {
    animation: error .5s 1;
}

@keyframes error {
    0%   { background-color: $red; }
    100% { background-color: $light-blue; }
}
