$blue: #E6FFFF;
$red: #FFE6FF;

table, td {
    border-collapse: collapse;
}

.tile {
    height: 2em;
    width: 2em;

    text-align: center;

    border: black solid thin;
}

.tile.defined {
    font-weight: bold;
}

.tile.selected {
    background-color: $blue;
}

.tile.error {
    animation: error .5s 1;
}

@keyframes error {
    0%   { background-color: $red; }
    100% { background-color: $blue; }
}
